{% extends "base.html" %}

{% block heading %}
  <h1>Discover Projects</h1>
{% endblock %}

{% block content %}

<ul class="projects">
  <li class="project"><a href="#"></a></li>
  <li class="project"><a href="#"></a></li>
  <li class="project"><a href="#"></a></li>
  <li class="project"><a href="#"></a></li>
  <li class="project"><a href="#"></a></li>
  <li class="project"><a href="#"></a></li>
  <li class="project"><a href="#"></a></li>
  <li class="project"><a href="#"></a></li>
  <li class="project"><a href="#"></a></li>
</ul>

{% endblock %}