{% extends "base.html" %}
{% block content %}
<div class="content gray-background">
  
  <div class="logo"></div>
  <header>
    <h1 class="teal">Ideas at Berkeley</h1>
  </header>

    <form class="signup">
      <p class="help-block text-center"><small>Subscribe now for early beta access</small></p>
      <input type="text" class="form-control input-large" name="email" placeholder="yourname@gmail.com" />
      <button type="submit" class="submit">Subscribe</button>
    </form>
</div>
{% endblock %}