{% extends "base.html" %}

{% block content %}
{% block heading %}<h1>Ideas at Berkeley</h1>{% endblock %}
  <div class="container">
  	<div class="row">
  		<div class="col-lg-6 col-lg-offset-3 panel">

          <p style="text-align:center; font-weight:bold">
            We provide the only mobile platform for creating, sending, and taking surveys.
          </p>
                

          <form class="margin-base-vertical">
              <p class="input-group">
                  <span class="input-group-addon"><span class=".glyphicon .glyphicon-collapse-down"></span></span>
                  <input type="text" class="form-control input-large" name="email" placeholder="yourname@gmail.com" />
              </p>
              <p class="help-block text-center"><small>Subscribe now for early beta access</small></p>
              <p class="text-center">
                  <button type="submit" class="btn btn-success btn-xlarge">Subscribe</button>
              </p>
              </span>
          </form>

    		</div>
    	</div>
    </div>
{% endblock %}