{% extends "base.html" %}

{% block content %}
<div class="content teal-background">
  <header>
    <h1>Create a Project</h1>
  </header>

  {% from "_formhelpers.html" import render_field %}
  <form method=post action="/new/project" enctype="multipart/form-data" class="new-project">
    {{ render_field(form.name) }}
    {{ render_field(form.about) }}
    {{ render_field(form.help) }}
    {{ render_field(form.description) }}
    {{ render_field(form.progress) }}
    {{ render_field(form.image) }}
    <input type=submit value=Register class="submit">
  </form>
</div>
{% endblock %}