{% extends "base.html" %}

{% block content %}
 
{{ project.name }}
<br>


Project title : {{ project.name }}
  {% if logged_in and user.id == me%}
	<a href = "{{ url_for('edit_proj', uname=user.user_name, proj=project.name) }}">Edit</a>
		<form method=post action="">
		<p><input name='remove' type=submit value=Delete>
	</form>
{% endif %}
{% if logged_in and not user.id == me %}
	<form method=post action="">
		<p><input name='join' type=submit value=Follow>
	</form>
{% endif %}
<br>
About the team : {{ project.about }}
<br>
How you can help : {{ project.help }}
<br>
Project description : {{ project.description }}
<br>
Progress : {{ project.progress }}
<br>

<hr>
Followers:
{{ num_followers }}

{% endblock %}