{% extends "base.html" %}

{% block content %}
 
{{ user.user_name }}
<br>

<hr>
Owner of Projects
<br>

{% for project in user.projects %}
  Project title : <a href="{{ project.name }}"> {{ project.name }} </a>
  {% if logged_in and user.id == me%}
  	<a href = "{{url_for('edit_proj', uname = user.user_name, proj = project.name)}}">Edit</a> 
  <form method=post action="">
    <p><input name='join' type=submit value=Join>
  </form>
  {% endif %}
  <br>
  Project description : {{ project.description }}
  <br>
{% endfor %}

<hr>
List of Projects
<br>
{% for project in projects %}
 	Project title : <a href="{{ project.name }}"> {{ project.name }} </a>
	<br>
	Project Description: {{ project.description }}
	<br>
{% endfor %}

{% endblock %}